<!DOCTYPE html>
	<html>
	<head>
		<title>Food Order</title>

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
	 <div id="app">
  <div class="header">
    <h2>FOOD</h2>
    <div>
      <button @click="showCart = !showCart" v-show="!verified">
        {{ items.length + (items.length > 1 || items.length === 0 ? " items" : " item") }}
      </button>
    </div>
  </div>
  <div class="cart" v-show="showCart">
    <div v-show="items.length > 0">
      <ul>
        <li v-for="item in items" transition="fade">
          <p><strong>{{ item.quantity }}</strong> - {{ item.name }} <i class="fa fa-trash" @click="removeFromCart(item)"></i></p>
        </li>
      </ul>
      <div><button @click="verified = true, showCart = false">Check out</button></div>
    </div>
    <div v-show="items.length === 0">
      <p>Your cart is empty!</p>
    </div>
  </div>
  <div class="container">
    <div class="shop" v-show="!verified">
      <h3>Menu Items</h3>
      <ul>
        <li class="iteminshop" v-for="item in shop">
          <div>
            <h4>{{ item.name }}</h4>
            <p><h5>Rs. {{ item.price }}</h5></p>
            <button @click="addToCart(item)">Add to cart</button>
            <img class="product-image" src="{{item.img}}" alt="Item image">
          </div>
        </li>
      </ul>
    </div>
    <div class="checkout" v-show="verified">
      <h3>Your Cart</h3>
      <h5 v-for="item in items"><strong>{{ item.quantity }}</strong> - {{ item.name }}<span>Rs. {{ item.price * item.quantity }}</span></h5>
      <hr />
      <div class="row">
        <div class="u-pull-right">
          <h5>Total: Rs. <span>{{ total }}</span></h5>
          <button>Looks Good</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
<script src="js/main.js"></script>
	</body>
	</html>	
